#spine #glue:before {
	border-right: solid 5px #f3f3f3;
}

body {
	background-color: #f3f3f3;
	color: #4e4e4e;
}

main {
	background-color: #fff;
}

.gray-lightly-back,
.lightly-back {
	background-color: #f3f3f3;
}

hgroup.source {
	display: none;
}

.pad-top .column,
.padded-top {
	padding-top: 3rem;
}

.pad-bottom .column,
.padded-bottom {
	padding-bottom: 3rem;
}

.pad-ends .column,
.padded-ends {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.row > header ~ .column {
	padding-top: 2rem;
}

section.row {
	border-bottom: 5px solid #f3f3f3;
}

section.row.no-bottom-border,
main > .page > section.row:last-child,
main > .page > :last-child section.row,
.main-header + section.row,
footer > section.row {
	border-bottom: none;
}

section.pad-top > header {
	padding-top: 3rem;
}

section.pad-bottom > header {
	padding-bottom: 0;
}

@media only screen and (min-width: 694px) {

	.fluid .row.side-right .column.one {
		padding-right: 1.3125rem;
		width: 66.66666%;
	}

	.fluid .row.side-right .column.two {
		padding-left: .625rem;
		width: 33.33333%;
	}

	.reverse.side-left.gutter .column.two:not(.gutterless) {
		padding-left: 2rem;
		padding-right: 1rem;
	}

	.reverse.side-left.gutter .column.one:not(.gutterless) {
		padding-left: 1rem;
		padding-right: 2rem;
	}
}

#spine .spine-actions-tabs>li>a {
	display: block;
    position: relative;
    width: 100%;
    height: 2.2em;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1em;
    text-shadow: none;
    padding: 0.8em 0 0.8em 0;
    display: block;
}

