h1 {
	color: #981e32;
	font-size: 3em;
	font-weight: 800;
	margin-bottom: 5px;
	text-transform: uppercase;
}

h2 {
	color: #981e32;
	font-size: 2.5em;
	font-weight: 300;
	margin-top: 1.5rem;
	padding-bottom: 25px;
}

h3,
h4 {
	color: #393939;
	margin-top: 1.25rem;
}

h3 {
	font-size: 1.75em;
	font-weight: 400;
	padding-bottom: 20px;
}

h4 {
	font-size: 1.25em;
	font-weight: 700;
	text-transform: uppercase;
}

h5 {
	color: #981e32;
	font-size: .7rem;
	font-weight: 700;
	line-height: 15px;
	padding-bottom: 20px;
}

.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text a {
	color: #fff;
}

section > header > h1,
section > header > h2,
section > header > h3,
section > header > h4 {
	padding: 0;
}

p,
main section li {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5;
}

p,
p ~ p {
	line-height: 1.65rem;
	padding-bottom: 1.75rem;
}

.false-header {
	font-size: 1.4em;
	font-weight: 300;
	letter-spacing: 1px;
	padding-bottom: 0;
	text-transform: uppercase;
}

p.false-header + h2 {
	margin-top: 0;
}

.landing h2 {
	font-size: 3.5em;
	font-weight: 700;
	padding-top: 0;
	text-transform: uppercase;
}

.intro {
	font-size: 1.25rem;
	line-height: 1.5em;
	color: #4e4e4e;
}

main a {
	border-bottom: 1px solid #B7B7B7;
	text-decoration: none;
	transition: all .4s ease;
}

main a:hover {
	background-color: #efefef;
	border-bottom: 1px solid #981e32;
	color: #981e32;
	text-decoration: none;
}

main ul {
	list-style-type: square;
}

@media screen and (max-width: 693px) {
	.landing h2 {
		font-size: 9vw;
	}
}
