/* Custom section and column backgrounds */
.section-wrapper-has-background,
.column {
	background-position: center;
	background-size: cover;
}

.left-center-bg {
	background-position: left center;
	background-repeat: no-repeat;
}

.right-center-bg {
	background-position: right center;
	background-repeat: no-repeat;
}

.transparent-gray-back {
	background: rgba(113, 113, 113, .75);
}

.transparent-gray-light-back {
	background: rgba(141, 149, 154, .75);
}

.transparent-gray-lighter-back {
	background: rgba(181, 186, 190, .75);
}

.transparent-gray-lightly-back {
	background: rgba(215, 218, 219, .75);
}

.transparent-gray-lightest-back {
	background: rgba(239, 240, 241, .85);
}

.transparent-crimson-back {
	background: rgba(152, 30, 50, .9);
}

.transparent-white-back {
	background: rgba(255, 255, 255, .85);
}

.transparent-black-back {
	background: rgba(0, 0, 0, .75);
}

/* Buttons */
.cta-button {
	background: none;
	border: 1px solid #981e32;
	color: #981e32;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: normal;
	margin-top: 1em;
	padding: .5em 2em;
	text-transform: uppercase;
	transition: background .4s, color .4s;
}

.cta-button:hover {
	background: #981e32;
	color: #fff;
}

.white-text .cta-button,
.cta-button.white {
	border: 1px solid #fff;
	color: #fff;
	transition: background .4s, border-color .4s, color .4s;
}

.white-text .cta-button:hover,
.cta-button.white:hover {
	background: #b5babe;
	border-color: #b5babe;
}

.body-cta {
	border: 1px solid #b7b7b7;
	display: inline-block;
	font-size: .9em;
	font-weight: 700;
	letter-spacing: 1px;
	margin: .5rem 0 2rem;
	padding: .25em 1em;
	text-transform: uppercase;
	transition: background .4s;
}

.body-cta + .body-cta {
	margin-bottom: .25rem;
}

.body-cta + br + .body-cta {
	margin-top: -1rem;
}

.body-cta:hover {
	background-color: #efefef;
	border-bottom: solid 1px #b7b7b7;
}

.white-text .body-cta {
	color: #fff;
}

.white-text .body-cta {
	border: 2px solid #fff;
}

.center {
	text-align: center;
}

/* Accordion */
.js-accordion h3 {
	border-top: solid 1px #f3f3f3;
	cursor: pointer;
	font-size: 1.25rem;
	font-weight: 300;
	padding: 1rem 3.5rem .5rem 1rem;
	position: relative;
}

.js-accordion h3:hover,
.js-accordion h3:active {
	color: #981e32;
}

.js-accordion h3:after {
	content: "+";
	font-weight: 400;
	position: absolute;
	right: 1.5rem;
	top: 1rem;
	transition: transform .4s;
}

.js-accordion h3[aria-expanded="true"]:after {
	transform: rotate(45deg);
}

.js-accordion h3 + div {
	padding: .5em 0 0 1.25em;
}

/* Loading animation */
@-webkit-keyframes spin {

	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {

	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.sfs-loading-indicator {
	animation: spin 1s infinite linear;
	border: .25rem solid rgba(113, 113, 113, .5);
	border-radius: 50%;
	border-top-color: #981e32;
	height: 2rem;
	margin: 0 auto;
	width: 2rem;
}

/* Miscellaneous */
a#fafsa {
	margin-top: -100px;
	position: absolute;
}

.convert-toc-to-select #toc ul {
	display: none;
}

.centered {
	max-width: 900px;
	margin: 0 auto;
}

.centered h2,
.centered .false-header {
	text-align: center;
}

.college {
	font-weight: 400;
	text-transform: none;
	padding-bottom: .5em;
}

@media only screen and (min-width: 694px) {

	.equal-height-columns {
		display: flex;
	}
}
