/* "« Scholarship Search Results" link on individual scholarships */
.scholarships-back-to-results .column {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.scholarships-back-to-results .column p {
	padding: 0;
}

.apply .cta-button {
    margin-top: 0;
}

/* Scholarships landing page */
.scholarships-landing .main-header {
	height: auto;
	overflow: auto;
}

.scholarships-landing .page-header-group {
	display: none;
}

/* Scholarships sharing tools */
.back-to-results {
	float: left;
}

.social-share-bar {
	float: right;
	margin-top: 0;
	position: relative;
}

.social-share-bar a,
.social-share-bar a:hover {
	background: none;
	border-bottom: none;
}

@media only screen and (max-width: 530px) {
	.social-share-bar {
		clear: both;
		float: left;
		margin-top: 1em;
	}
}
