/* "« Scholarship Search Results" link on individual scholarships */
.scholarships-back-to-results .column {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.scholarships-back-to-results .column p {
	padding: 0;
}

.apply .cta-button {
    margin-top: 0;
}

/* Scholarships landing page */
.scholarships-landing .main-header {
	height: auto;
	overflow: auto;
}

.scholarships-landing .page-header-group {
	display: none;
}
