.cost-table-placeholder {
	margin-bottom: 2rem;
}

.cost-table-placeholder th {
	background-color: #203639;
	color: #fff;
	vertical-align: middle;
}

.cost-table-placeholder th,
.cost-table-placeholder td {
	padding: 8px;
}

.cost-table-placeholder td {
	border-bottom: 1px solid #ddd;
}

.cost-table-placeholder tr:nth-of-type(even) td {
	background: #f3f3f3;
}

.cost-table-placeholder td:empty {
	height: 22px;
}

.cost-table-placeholder header {
	color: #393939;
	font-size: 1.75em;
	font-weight: 400;
	padding-bottom: 20px;
}
