html {
	background-color: white;
}

/* Header */
.main-header {
	box-sizing: border-box;
	color: #fff;
	font-size: .85em;
	letter-spacing: 2px;
	height: 200px;
	position: relative;
	text-transform: uppercase;
	width: 100%;
}

.main-header {
	background: #981e32;
	background: linear-gradient(to right,#981e32 0%,#c60c30 100%);
}

.tagged-blue .main-header,
.categorized-scholarships .main-header,
.section-scholarships .main-header {
	background: #4f868e;
	background: linear-gradient(to right,#4f868e 0%,#00a5bd 100%);
}

.has-featured-image .main-header {
	background: none;
	float: left;
	height: 400px;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.35);
}

.main-header span,
.main-header li {
	float: left;
	line-height: normal;
	padding: 0;
}

.site-header-group {
	float: left;
	margin: 0 2rem;
	overflow: hidden;
	padding: 1rem 0;
}

.site-header-group span + span,
.site-action-links li + li {
	border-left: 1px solid #fff;
	margin-left: 1em;
	padding-left: 1em;
}

.site-header-group .sup-header {
	font-weight: 600;
}

.site-action-links {
	float: right;
	padding: 1rem 2rem;
}

.site-action-links ul {
	padding: 0;
}

.page-header-group {
	bottom: 0;
	box-sizing: border-box;
	padding: 1rem 2rem 1.5rem;
	position: absolute;
	width: 100%;
}

.page-header-group .sup-header {
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: .15em;
	text-transform: uppercase;
}

.page-header-group .sub-header {
	clear: both;
	display: block;
	font-size: 3.6em;
	font-weight: 600;
	letter-spacing: .05em;
	line-height: 1;
	text-transform: uppercase;
}

.main-header a {
	border-bottom: none;
	color: white;
}

.main-header a:hover {
	background: none;
}

.featured-image {
	z-index: -1;
}

/* Layout overrides */
.pad-top .column,
.padded-top {
	padding-top: 3rem;
}

.pad-bottom .column,
.padded-bottom {
	padding-bottom: 3rem;
}

.pad-ends .column,
.padded-ends {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.row > header ~ .column {
	padding-top: 2rem;
}

.pad-bottom {
	border-bottom: 7px solid #eff0f1;
}

.pad-bottom:last-child {
	border-bottom: none;
}

section.pad-top > header {
	padding-top: 3rem;
}

section.pad-bottom > header {
	padding-bottom: 0;
}

section > header > h1,
section > header > h2,
section > header > h3,
section > header > h4 {
	padding: 0;
}

/* Typography */
h1 {
	color: #981e32;
	font-size: 3em;
	font-weight: 800;
	margin-bottom: 5px;
	text-transform: uppercase;
}

h2 {
	color: #981e32;
	font-size: 2.5em;
	font-weight: 300;
	padding-bottom: 25px;
}

.landing-side-right h2 {
	font-size: 1.5em;
}

h3 {
	color: #4E4E4E;
	font-size: 1.75em;
	font-weight: 300;
	padding-bottom: 20px;
}

h4 {
	color: #5E5E5F;
	font-size: 1.25em;
	font-weight: 600;
	text-transform: uppercase;
}

h5 {
	color: #981e32;
	font-size: .7rem;
	font-weight: 700;
	line-height: 15px;
	padding-bottom: 20px;
}

p,
main section li {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5;
}

main a {
	border-bottom: 2px dotted #B7B7B7;
	text-decoration: none;
}

main a:hover {
	background-color: #dddddd;
	text-decoration: none;
}

main ul {
	list-style-type: square;
}

/* Buttons */
.cta-button {
	background: none;
	border: 2px solid #981e32;
	color: #981e32;
	display: inline-block;
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: normal;
	margin: 0;
	padding: 10px;
	text-transform: uppercase;
	transition: background .4s, color .4s;
}

.side-right .two .cta-button {
	box-sizing: border-box;
	min-width: 100%;
}

.cta-button:hover {
	background: #981e32;
	color: white;
}

.body-cta {
	border: 2px solid #d7dadb;
	display: inline-block;
	font-size: .9em;
	letter-spacing: 2px;
	margin: .5rem 0 2rem;
	padding: 7px;
	text-transform: uppercase;
	transition: background .4s;
}

.body-cta + br + .body-cta {
	margin-top: -1rem;
}

.body-cta:hover {
	background-color: #d7dadb;
}

.center {
	text-align: center;
}

/* Site Footer */
.site-footer {
	background: #eff0f1;
	margin-top: 2rem;
}

.site-footer .one {
	border-right: 1px solid #fff;
}

.site-footer ul {
	list-style: none;
	padding: 0;
}

.site-footer-menu > li {
	box-sizing: border-box;
	float: left;
	padding: 0 0.5rem;
	width: 25%;
}

.site-footer-menu > li > a,
#binder .site-footer .two p {
	border: none;
	color: #717171;
	display: block;
	font-size: 1.4em;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1;
	padding-bottom: .5rem;
	pointer-events: none;
	text-transform: uppercase;
}

.site-footer-menu ul li {
	padding: 0 0 0.6rem 0;
}

#binder .site-footer .two p {
	color: #9C9C9C;
}

@media screen and (max-width: 791px) {
	.site-footer {
		display: none;
	}
}

/* Home page */
.home #spine #glue:before {
	border-right: 1px solid #efefef;
}

.home .column p:first-child {
	font-size: 1.4em;
	font-weight: 300;
	letter-spacing: 1px;
	padding-bottom: 0;
	text-transform: uppercase;
}

.home h2 {
	font-size: 3.5em;
	font-weight: 700;
	padding-top: 0;
	text-transform: uppercase;
}

.home .intro {
	padding: 10rem 0;
}

.home .column.intro p {
	color: #981e32;
	font-size: 2.5em;
	font-weight: 300;
	padding-bottom: .25em;
}

.home h1 {
	font-size: 4.5rem;
	text-transform: uppercase;
}

.home .halves .column.one,
.page-scholarships .side-left .column.one {
	background: center;
	background-size: cover;
	min-height: 350px;
}

.five-steps {
	counter-reset: count-it;
	list-style: none;
	padding: 0 0 2.5rem;
}

.five-steps li  {
	padding: 0;
}

.five-steps a {
	border-bottom: 1px solid #d7dadb;
	color: #717171;
	display: block;
	font-size: 1.1em;
	font-weight: 600;
	margin-left: 4.5rem;
	padding: .5em 0;
	position: relative;
	transition: color .4s;
}

.five-steps a:before {
	align-items: center;
	background: #b5babe;
	color: #fff;
	content: counter(count-it);
	counter-increment: count-it;
	display: flex;
	height: calc(100% - .2em);
	justify-content: center;
	left: -4.5rem;
	position: absolute;
	text-align: center;
	top: .2em;
	transition: background .4s;
	width: 2.5rem;
}

.five-steps a:hover,
.five-steps a:hover .crimson-text {
	background-color: transparent;
	color: #c60c30;
}

.five-steps a:hover:before {
	background: #0b9b56;
}

.application-forms {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.application-forms li {
	box-sizing: border-box;
	padding: 1rem;
	width: 25%;
}

.application-forms li a {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

/* Home page events */
.home .wsuwp-content-syndicate-wrapper {
	overflow: hidden;
	padding-bottom: 2rem;
}

.home .wsuwp-content-syndicate-list {
	display: flex;
	padding: 0;
	position: relative;
}

.home .wsuwp-content-syndicate-list li {
	box-sizing: border-box;
	flex: 1 0 25%;
	list-style: none;
	padding: 1em;
	transition: background .4s;
	width: 25%;
}

.home .wsuwp-content-syndicate-list li:hover {
	background-color: #ECECEC;
}

.home .content-item-event-date {
	box-sizing: border-box;
	color: #fff;
	float: left;
	font-size: 32px;
	font-weight: 600;
	line-height: 50px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 3.5rem;
	word-spacing: 3rem;
	z-index: 1;
}

.home .content-item-event-date:first-line {
	font-size: 12px;
	font-weight: 300;
	line-height: 24px;
}

.gecko.home .content-item-event-date {
	line-height: 33px;
	height: 74px;
}

.gecko.home .content-item-event-date:first-line {
	vertical-align: top;
}

.home .content-item-event-date:before,
.home .content-item-event-date:after {
	content: '';
	left: 0;
	position: absolute;
	transition: background .4s;
	width: 100%;
	z-index: -1;
}

.home .content-item-event-date:before {
	background: #717171;
	height: 24px;
	top: 0;
}

.home .content-item-event-date:after {
	background: #b5babe;
	bottom: 0;
	height: 48px;
}

.home li:hover .content-item-event-date:before {
	background: #b5babe;
}

.home li:hover .content-item-event-date:after {
	background: #981e32;
}

.home .content-item-event-title,
.home .content-item-event-meta {
	display: block;
	margin-left: 4.25rem;
}

.home .content-item-event-title a {
	border-bottom: 0;
}

/* Home page event navigation */
.event-control {
	border: none;
	display: block;
	height: 3rem;
	overflow: hidden;
	position: absolute;
	text-indent: -5rem;
	top: 50%;
	transform: translateY(-50%);
	width: 2rem;
}

.event-control:hover {
	background: none;
}

.event-control:before,
.event-control:after {
	border: 1.5rem solid transparent;
	box-sizing: border-box;
	content: '';
	position: absolute;
	top: 0;
}

.event-control.prev {
	margin-left: -2.5rem;
}

.event-control.prev:before {
	border-right-color: #717171;
	right: 0;
}

.event-control.prev:after {
	border-right-color: #fff;
	right: -.25rem;
}

.event-control.next {
	right: -.5rem;
}

.event-control.next:before {
	border-left-color: #717171;
	left: 0;
}

.event-control.next:after {
	border-left-color: #fff;
	left: -.25rem;
}

/* Home page form section */
.home .section-wrapper-has-background {
	background-size: cover;
	background-position: center center;
}

.home .section-wrapper-has-background .halves .column.one {
	min-height: 0;
}

.home .section-wrapper-has-background .halves .column.two {
	padding: 3rem 2rem;
}

.home .gform_wrapper {
	background: rgba(141,149,154,0.75);
	color: #fff;
	margin: 0;
	padding: 2rem;
}

.home .gform_wrapper .gform_heading {
	margin: 0;
}

.home .gform_wrapper h3.gform_title {
	color: #fff;
	font-size: 3.5em;
	font-weight: 700;
	margin: 0;
	padding-top: 0;
	text-transform: uppercase;
}

.home .gform_wrapper form {
	margin: 0;
	padding: 0;
}

/* Scholarships landing page */
.section-scholarships .cta-button {
	border: 2px solid #00a5bd;
	color: #00a5bd;
}

.section-scholarships .hentry .cta-button:hover {
	background: #00a5bd;
	color :#fff;
}

.section-scholarships h1,
.section-scholarships h2,
.section-scholarships h4,
.section-scholarships h5,
.section-scholarships .hentry a {
	color: #00a5bd;
}

.section-scholarships .hentry a:hover {
	color: #4f868e;
}

.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text .body-cta,
.section-scholarships .hentry .white-text a {
	color: #fff;
}

.white-text .body-cta {
	border: 2px solid #fff;
}

.topics-audiences ul {
	list-style: none;
	padding: 0;
}

/* Accordion */
.js-accordion h3 {
	cursor: pointer;
	padding-right: 1.5em;
	position: relative;
}

.js-accordion h3:after {
	content: '+';
	font-weight: normal;
	position: absolute;
	right: 0;
	top: 0.5em;
}

.js-accordion h3:hover {
	color: #828282;
}

.js-accordion h3[aria-expanded="true"]:after {
	content: '–';
}

/* Dropdown Menus */
.dropbtn {
	background-color: #4f868e;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	font-size: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
}

.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown-content {
	background-color: #f9f9f9;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	display: none;
	margin-top: -1rem;
	min-width: 160px;
	position: absolute;
	z-index: 1;
}

.dropdown-content:active {
	display: none;
}

.dropdown-content a {
	box-sizing: border-box;
	display: inline-block;
	padding: 0.5rem 1rem;
	width: 100%;
}

.dropdown-content a:hover {
	background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #00a5bd;
	color: #eff0f1;
}

@media screen and (max-width: 791px) {
	.main-header {
		height: auto;
	}

	.site-header-group {
		border-bottom: 1px solid #fff;
		float: none;
	}

	.main-header li {
		float: none;
		text-align: right;
	}

	.site-action-links li + li {
		border-left: none;
		margin-left: 0;
		padding-left: 0;
	}

	.page-header-group {
		clear: both;
		position: relative;
	}

	.has-featured-image .page-header-group {
		position: absolute;
	}

	.page-header-group span {
		float: none;
	}

	.application-forms li {
		width: 50%;
	}

	.home .wsuwp-content-syndicate-list li {
		flex: 1 0 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 693px) {
	.site-header-group span {
		display: block;
		float: none;
	}

	.site-header-group span + span {
		border-left: none;
		margin-left: 0;
		padding-left: 0;
	}
}

@media only screen and (max-width: 530px) {
	.page-header-group .sub-header {
		font-size: 8.5vw;
	}

	.home .wsuwp-content-syndicate-list li {
		flex: 1 0 100%;
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.application-forms li {
		width: 100%;
	}
}

@media only screen and (min-width: 694px) {
	.fluid .row.side-right .column.one {
		padding-right: 1.3125rem;
		width: 66.66666%;
	}

	.fluid .row.side-right .column.two {
		padding-left: .625rem;
		padding-top: 3.5rem;
		width: 33.33333%;
	}

	.home .halves,
	.page-scholarships .side-left {
		display: flex;
	}

	.home .halves .column.two {
		padding: 6rem 2rem;
	}

	.home .section-wrapper-has-background {
		background-position: right center;
	}

	.topics-audiences ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
	}

	.topics-audiences li {
		box-sizing: border-box;
		padding: 1rem;
		width: 33.333%;
	}

	.topics-audiences li:nth-of-type(-n+2),
	.topics-audiences li:nth-of-type(4),
	.topics-audiences li:nth-of-type(5) {
		border-right: 2px solid #eff0f1;
	}

	.topics-audiences li:nth-of-type(-n+2) {
		border-bottom: 2px solid #eff0f1;
	}
}
