#cost-table-meta .inside {
	text-align: right;
}

#cost-table-meta table {
	margin-bottom: 12px;
	table-layout: fixed;
	width: 100%;
}

#cost-table-meta tr:first-of-type td {
	text-align: center;
}

#cost-table-meta td:first-of-type {
	width: 20px;
}

#cost-table-meta td input {
	width: 100%;
}

.coa-meta-delete {
	background: none;
	border: none;
	cursor: pointer;
	height: 24px;
	overflow: hidden;
	position: relative;
	text-indent: 24px;
	white-space: nowrap;
	width: 24px;
}

.coa-meta-delete.delete-column {
	margin: 0 auto;
}

.coa-meta-delete:before {
	border-radius: 50%;
	color: #0073aa;
	content: "\f153";
	display: block;
	font: 400 16px/20px dashicons;
	height: 20px;
	left: 2px;
	line-height: 1.28;
	text-align: center;
	speak: none;
	text-indent: 0;
	top: 2px;
	position: absolute;
	width: 20px;
	-webkit-font-smoothing: antialiased;
}

.coa-meta-delete:hover:before {
	color: #c00;
}

#cost-table-meta tr:first-of-type td:nth-of-type(2) .coa-meta-delete,
#cost-table-meta tr:nth-of-type(2) .coa-meta-delete {
	display: none;
}

.coa-meta-add {
	background: none;
	border: none;
	color: #0073aa;
	cursor: pointer;
	text-decoration: underline;
}

.add-column:disabled,
.add-column:disabled:hover {
	color: #82878c;
	text-decoration: none;
}

.coa-meta-add:hover {
	color: #00a0d2;
}

.coa-meta-add span {
	speak: none;
}
